.myHeader{
    height: 650px;
    width: 100%;
    /* background-image: linear-gradient(0deg,#023D09,#0E3312); */
    background-image: url(../images/header.jpg);
    background-size: 100% 100%;
    color:white;
}

.header-pikachu{
    height:250px;
    border-width: 2px;
    border-radius: 20px;
    border-color: yellow;
    border-style: dotted;
}

.footer-nav{
    text-align: right;
    list-style: none;

}
.footer-nav li{
    display:inline;
}
.footer-nav li:not(:first-child):before{
    content: "|";
    padding:0px 10px;
}