<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style>
        .MenuWrap{
            background-color: indigo;
            color: #ebebeb;
            font-family: 'Oswald', sans-serif;
            font-size: 1rem;
            min-height: 2.75rem;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            flex-direction:column;
        }
        .ListItem,
        .LastItem{
            color: #ebebeb;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="MenuWrap">
        <a href="#" class="ListItem">主页</a>
        <a href="#" class="ListItem">类别</a>
        <a href="#" class="ListItem">文章</a>
        <a href="#" class="LastItem">关于我</a>
    </div>
</body>
</html>