<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" href="/webjars/jquery/jquery.js"  type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" href="/webjars/bootstrap/js/bootstrap.min.js"  type="text/javascript"></script>
    <link   th:src="@{/webjars/bootstrap/css/bootstrap.min.css}" href='/webjars/bootstrap/css/bootstrap.min.css'   rel="stylesheet"  />
    <title>login</title>
</head>
<body>
    <div class="container"><br/>
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            Hello, <strong>WebJars!</strong>
        </div>
    </div>
</body>
</html>